.blockForm {
    vertical-align:top;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px black solid;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: 'Lato', sans-serif;
    background-color: rgb(252, 238, 180);
}
#base{
    width: 430px;
    padding-top: 50px;
    margin: 0 auto;
}
#form{
    display: inline-block;
    width: 500px;
    margin-top: 10px;
    margin-left: 640px;
}